*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --button-background-color: #2091f9;
    --main-text-color: #ffff;
    font-family: 'Poppins', sans-serif;
}
img {
    display: block;
    width: 100;
}