.header_menu {
    display: flex;
}
.header_menu .menu_item {
    text-decoration: none;
    color: #ffff;
}
.header_menu .menu_item:hover {
    text-decoration: underline;
}
@media (min-width: 500px) {
    .header_nav {
        display: flex;
    }
    .header_menu {
        flex-direction: row;
    }
}
.header_banner {
    background: linear-gradient ( rgba (0,0,0,0.5), rgba(0, 0, 0, 0.5)), url('../img/header_background.png');
    background-size: cover;
    background-position: center;
}