<header id="home" class="header">
    <nav class="header_nav container">
       <div class="header_menu menu">
          <a href="index.html" class="menu_item">Home</a>
          <a href="#" class="menu_item">Product</a>
          <a href="#" class="menu_item">Pricing</a>
          <a href="#" class="menu_item">About</a>
          <a href="#" class="menu_item">Contact</a>
       </div>
       <div class="header_logo">
          <link rel="logo" href="img/figma_logo.svg" type="logo">
       </div>
       <div class="header_menu social">
          <img src="img/facebook_icon.svg" alt="Facebook icon" >
          <img src="img/twitter_icon.svg" alt="Twitter icon" >
          <img src="img/linkedin_icon.svg" alt="Linkedin icon" >
       </div>
    </nav>
    <div class="header_banner container">
       <h1 class="header__title">The best products start with Figma</h1>
       <h2 class="header__description">Most calendars are designed for teams. Slate is designed for freelancers</h2>
       <div class="header__buttons">
          <button type="submit"><span>Shop now</span></button>
       </div>
    </div>
 </header>